<ion-modal-view>
<ion-header-bar>
<h1 class="title">Add Watchlist Transaction</h1>
<button class="button" ng-click="closeModal();">X</button>
</ion-header-bar>
<ion-content>
<label class="item item-input item-input-inset">
  <span class="input-label">Jse Share Code:</span>
  <input type='text' ng-model="newWatchlistShare.ShareIndex"  placeholder="Jse Share Code" />
</label>
<label class="item item-input item-input-inset">
  <span class="input-label">Date:</span>
  <input type='date' ng-model="newWatchlistShare.DateAdded"  placeholder="Date" />
</label>
<label class="item item-input item-input-inset">
  <span class="input-label">Watch Price (Cents):</span>
  <input type='number' ng-model="newWatchlistShare.WatchPrice"  placeholder="Watch Price (Cents)" />
</label>
<label class="item item-input item-input-inset">
  <span class="input-label">Transaction Type:</span>
  <div class="bar bar-header bar-stable">
    <button class="button button-large button-block button-positive" ng-click='saveTransaction(newWatchlistShare);'>
      Add
    </button>
  </div>
</label>
</ion-content>
</ion-modal-view>
